.table-main {
  // width: calc(100vw - 272px);
  width: calc(100% - 210px);

  background: #202124;

  .h1-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #ffffff;
    position: relative;
    margin: 11px 0 12px 15px;
  }

  // .h1-title::after {
  //   position: absolute;
  //   content: '';
  //   bottom: -20px;
  //   left: -15px;
  //   width: calc(100% + 15px);
  //   border-bottom: 1px solid #414144;
  // }

  .table-info {
    font-size: 14px;
    line-height: 130%;
    letter-spacing: 0.1px;
    color: #a1a1aa;

    display: flex;
    flex-wrap: nowrap;

    padding: 11px 0 12px 10px;
    // padding-left: 10px;

    position: relative;

    .table-level {
      flex: 120;
    }

    .table-namework {
      flex: 757;
    }

    .table-3 {
      flex: 200;
    }

    .table-4 {
      flex: 200;
    }

    .table-5 {
      flex: 200;
    }

    .table-6 {
      flex: 200;
    }
  }

  .table-info:after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 10px;
    width: calc(100% - 20px);
    border-bottom: 1px solid #414144;
  }
}
